.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: calc(100vh - 80px);
}

.centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code-backdrop {
    position: absolute;
    font-size: 30vw;
    font-weight: 900;
    color: #eeeeee08;
    user-select: none;
}

.header {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitle {
    color: #ccc;
    font-style: italic;
}