.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  padding: 20px;
  cursor: pointer;
}

.logo {
  height: 40px;
  user-select: none;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo:active {
  transform: scale(0.9);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.link {
  color: #ccc;
}
